doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/style.min.css")
        link(rel="shortcut icon" href="images/favicon.ico" type="image.png")

    body
        .wrapper
            .content
                .header
                    .container
                        .header__inner
                            nav.nav 
                                ul.nav__menu
                                    li.active
                                        a(href="#") Главная
                                    li 
                                        a(href="#") Наши проекты
                                    li 
                                        a(href="#") Услуги
                                    li 
                                        a(href="#") Новости
                                    li 
                                        a(href="#") Контакты
                main.main
                    .main__wrapper(style="background-image: url(images/main-bg.jpg)")
                        .container
                            .main__inner
                                .main__box
                                    .main__box-label Передовая IT студия
                                    h1.main__box-title Мы создаем легкие решения 
                                        |сложных задач и проблем
                                    button.regular__button  Наши проекты
                section.creation
                    .container
                        .creation__inner
                            h2.section__title Мы создаем мобильные приложения 
                                | для крупных корпораций
                            p.creation__text Мобильные приложения - это то, что мы умеем и любим делать. В нашем арсенале есть опыт и новейшие технологии по разработке приложений для самых различных целей. Сделав заказ у нас
                            .creation__boxes
                                .creation__box
                                    img(src="images/ico/project.svg")
                                    .creation__box-title Создание сайтов
                                    .creation__box-text Создание самых спецефических и оригинальных сайтов, на любой вкус и кошелек
                                .creation__box
                                    img(src="images/ico/project.svg")
                                    .creation__box-title Разработка приложений
                                    .creation__box-text Приложения которыми хочется пользоваться и советовать друзьям
                                .creation__box
                                    img(src="images/ico/project.svg")
                                    .creation__box-title Оптимизация и реклама
                                    .creation__box-text Ваш сайт будут видеть все и грузиться он будет как ракета))
                            button.regular__button  Все услуги
                section.standards
                    .container
                        .standards__inner
                            .standards__description
                                h2.section__title Высокие стандарты
                                    |разработки
                                p.standards__description-text Мы используем только современные стандарты при создании сайтов и приложений. И это позволяет нашей продукции работать быстро и безотказно в любых условиях
                                .standards__description-link Подробнее о компании
                            .standards__img
                                img(src="images/standarts-img.jpg" alt="")
                            .standards__items
                                .standard__item
                                    img(src="images/ico/web-programming.svg" alt="")
                                    .standards__item-num 125
                                    a.standards__item-link(href="#") Our projects
                                .standard__item
                                    img(src="images/ico/web-programming.svg" alt="")
                                    .standards__item-num 125
                                    a.standards__item-link(href="#") Our projects
                                .standard__item
                                    img(src="images/ico/web-programming.svg" alt="")
                                    .standards__item-num 125
                                    a.standards__item-link(href="#") Our projects
                                .standard__item
                                    img(src="images/ico/web-programming.svg" alt="")
                                    .standards__item-num 125
                                    a.standards__item-link(href="#") Our projects
                                .standard__item
                                    img(src="images/ico/web-programming.svg" alt="")
                                    .standards__item-num 125
                                    a.standards__item-link(href="#") Our projects
                section.works
                    .container
                        .works__inner
                            h2.section__title
                            buttpn.regular__button
                            .works__items
                                .works__item
                                    img(src="images/works-img.jpg" alt="")
                                    .works__item-title 
                                        span 01.
                                        | Лендинги
                                    .works__item-text Разработка одностраничных продающих сайтов, которые максимально быстро приносят трафик и новых клиентов в Ваш бизнес
                                    a.works__item-link(href="#") Подробнее
                                .works__item
                                    img(src="images/works-img.jpg" alt="")
                                    .works__item-title
                                        span 02.
                                        | Корпоративные сайты
                                    .works__item-text Разработка корпоративных сайтов с помощью которых Вы сможете подчеркнуть статус и стиль компании и ее продукции
                                    a.works__item-link(href="#") Подробнее
                                .works__item
                                    img(src="images/works-img.jpg" alt="")
                                    .works__item-title 
                                        span 03.
                                        | Реклама и продвижение
                                    .works__item-text Продвижение сайтов в поисковых системах, а также с помощью контекстной рекламы и социальных сетей
                                    a.works__item-link(href="#") Подробнее
                section.projects
                    .container
                        .projects__inner
                            h2.section__title Наши проекты
                            p.projects__text Перейдя по этим ссылкам Вы сможете ознакомиться с разнообразием работ которые мы выполняем, и увидеть какую пользу они приносят нашим клиентам. Просто возьмиите и протестируйте))
                            .projects__examples
                                a.project__example(href="#")
                                    img(src="images/projects-img.jpg" alt="")
                                a.project__example(href="#")
                                    img(src="images/projects-img.jpg" alt="")
                                a.project__example(href="#")
                                    img(src="images/projects-img.jpg" alt="")
                                a.project__example(href="#")
                                    img(src="images/projects-img.jpg" alt="")
                            button.regular__button Все проекты
                section.video
                    .container
                        video__inner(style="background-image:url(images/about-img.jpg)")
                            h2.section__title
                            .section__subtitle
                            .video__box(style="background-image: url(images/video-priview.jpg)")
                                a.video__box-link(href="#")
                                img(src="images/ico/play-button.svg" alt="")
                                span Смотреть видео
                section.mailing
                    .container
                        .mailing__inner
                            h3.mailing__title Подпишитесь на нашу рассылку
                            .mailing__subtitle Полезные статьи, акции, новости - получите все это сейчас!
                            form.mailing__form(action="")
                                input(type="email" placeholder="Ваш e-mail")
                                button(type="submit") Подписаться
                                .mailing__form-text Мы не шлем спам, и передаем никому ваши данные.

            footer.footer
                .container
                    .footer__inner
                        .footer__collums
                            .footer__contacts
                            .footer__column-title Контактная информация
                            ul.footer__contacts-list
                                li
                                    a(href="mailto:test@test.ru") test@test.ru
                                li
                                    a(href="tel:+87775556699") +8 777 555 66 99
                                li
                                    a(href="") Москва, Бульвар Ленина 33
                            .footer__links
                            .footer__column-title Основные ссылки
                            ul.footer__contacts-list
                                li
                                    a(href="") Главная
                                li
                                    a(href="")  Наши проекты
                                li
                                    a(href="") Наши услуги
                                li
                                    a(href="") Контакты
                            .footer__projects
                            .footer__column-title Наши проекты
                            ul.footer__contacts-list
                                li
                                    a(href="") РосНано
                                li
                                    a(href="") Сколково
                                li
                                    a(href="") Проект “Восток”
                                li
                                    a(href="")  ТЭЦ Калининграда
                            .footer__social
                            .footer__column-title Социальные сети
                            ul.footer__contacts-list
                                li
                                    a(href="") VK.com
                                li
                                    a(href="") Instagram
                                li
                                    a(href="") Facebook
                                li
                                    a(href="") Twitter
                        .footer__copy (с) 2019. Все права защищены.
    script(src="js/jquery.js")
    script(src="js/libs.min.js")
    script(src="js/main.js")

